.login-logo {
	text-align: center;
	img {
		width: 100px;
		margin: 0 auto;
	}
}
.panel-login {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}
.login-content {
	width: 300px;
	margin: 20px auto;
}
