ion-split-pane {
  --side-max-width: 320px;
  --border: 1px solid #ccc;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
.user {
  --padding-start: 0px !important;
}
ion-menu ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 20px;
}
ion-menu ion-list {
  padding: 20px 0;
}
ion-menu ion-list-header {
  padding-left: 10px;
}
ion-menu ion-list#main-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  margin-bottom: 16px;
}
ion-menu ion-list#main-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}
ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}
ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}
ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-menu ion-item ion-icon {
  color: #444444;
}
ion-menu ion-item ion-label {
  font-weight: 500;
}
ion-item.selected {
  --color: var(--ion-color-primary);
}
